<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
    <meta charset="UTF-8">
    <title>Scapes</title>
</head>
<body>
    <h1 style="text-align: center">Twitter Scapes</h1>
    <hr>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div style="margin-left: 20px; margin-right: 20px">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>