<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}


<head>
    <meta charset="UTF-8">
    <title>Scapes</title>

    {# Load CSS #}
    {% bootstrap_css %}
    {% fontawesome_stylesheet %}
</head>
<body>
    <h1 style="text-align: center">Twitter Scapes</h1>
    <hr>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <div style="margin-left: 20px; margin-right: 20px">
        {% block content %}

        {% endblock %}
    </div>

    {# Load Javascript #}
    <script type="text/javascript" href="{% bootstrap_jquery_url %}" />
    <script type="text/javascript" href="{% bootstrap_javascript_url %}" />
</body>
</html>