{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}


{% block content %}
    {% block bootstrap3_content %}
        <div class="row">
            <h1>Filters</h1>
            <form method="post" action="">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="col-sm-4">
                        {{ form.id }}
                        Filter: {{ forloop.counter }} {% fontawesome_icon 'user' %}
                        {% bootstrap_form form %}
                    </div>
                {% endfor %}
                {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>
    {% endblock %}
{% endblock %}
