{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}


{% block content %}
    {% block bootstrap3_content %}

        <div class="row">
            <a class="btn bg-primary" href="{% url 'news:filter' %}">Change Filter</a>
            <a class="btn bg-primary" href="{% url 'news:overview' %}">Start Stream</a>
        </div>
        <div class="row">
            {% if tweet_list %}
                <ul>
                    {% for entry in tweet_list %}
                        <li><a href="{% url 'news:tweet' entry.tweet_id %}">{{ entry.text }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tweets are available.</p>
            {% endif %}
        </div>

    {% endblock %}
{% endblock %}

{# Load Javascript #}
<script type="text/javascript" href="{% bootstrap_jquery_url %}" />
<script type="text/javascript" href="{% bootstrap_javascript_url %}" />
