{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% fontawesome_stylesheet %}

{% block content %}
    {% block bootstrap3_content %}

        <div class="row">
            <a class="btn btn-warning btn-block" href="{% url 'news:index' %}">Stop Streaming</a>
        </div>
        <div class="row">
            {% if tweet_list %}
                <ul class="list-group">
                    {% for entry in tweet_list %}
                        <a class="list-group-item" href="{% url 'news:tweet' entry.tweet_id %}">{{ entry.user_location }}: {{ entry.text }}</a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tweets are available.</p>
            {% endif %}
        </div>

    {% endblock %}
{% endblock %}
