{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}
{% load staticfiles %}


{% block content %}
    {% block bootstrap3_content %}

        <script src="{% static 'news/js/livestream.js' %}" ></script>
        <div class="row">
            <a class="btn btn-default btn-block" href="{% url 'news:index' %}" onclick=" clearInterval();">Stop Streaming</a>
        </div>
        <div class="row">
            <div class="">
                <ul class="list-group" id="live">
                </ul>
            </div>
        </div>

    {% endblock %}
{% endblock %}

