a.list-group-item {
    line-height: 2em;
    margin: 0.1em auto;
    padding: 0 0.1em;
    overflow: hidden;
}

a.list-group-item.original {
    background-color: rgba(0, 0, 255, 0.11);
}

a.list-group-item.retweet {
    background-color: rgba(0, 128, 0, 0.1);
}
